<h2 style="margin-top:0">Local Apps</h2>

<% if(options && options.message){ %>
<div class="alert<%= options.messageType ? (' alert-'+options.messageType) : ''%>">
    <%= options.message %>
</div>
<% } %>

<p><button class="btn btn-primary" data-toggle="modal" data-target="#myModal">Add App</button></p>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form id="put-payload" class="form horizontal modal-content">
            <div class="modal-header">
                <a href="#!" type="button" class="close pull-right" data-dismiss="modal" aria-hidden="true">Close</a>
                <h4 class="modal-title" id="myModalLabel">Add App</h4>
            </div>
            <div class="modal-body">
                <div class="control">
                    <label for="i-id">Identifier</label>
                    <input type="text" name="id" id="i-id">
                </div>
                <div class="control">
                    <label for="i-uri">URI</label>
                    <input type="text" name="uri" id="i-uri">
                </div>
                <div class="control">
                    <label for="i-share">Share</label>
                    <input type="checkbox" name="share" id="i-share" checked>
                </div>
                <div class="control">
                    <label for="i-propagate">Propagate</label>
                    <input type="checkbox" name="propagate" id="i-propagate" checked>
                </div>
                <div id="data-generators"></div>
                <div class="control" id="data-definition">
                    <label for="i-data-definition">Data</label>
                    <textarea name="data" id="i-data-definition"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <input type="submit" value="Save App" class="btn btn-primary">
            </div>
        </form>
    </div>
</div>

<table id="local_payloads-list">
    <thead>
    <tr>
        <th>Identifier</th>
        <th>Title</th>
        <th>URI</th>
        <th>Share</th>
        <th>Propagate</th>
    </tr>
    </thead>
    <tbody>
    <% for(var i in apps){
        var app = apps[i],
            attributes = $.extend({}, app.attributes, app.attributes.use, app.attributes.require)
    %>
    <tr>
        <td><a href="#" data-app="<%= JSON.stringify(app).replace(/"/g, '&quot;') %>"><%= app.identity.id %></a></td>
        <td><%= attributes.title ? attributes.title : '-' %></td>
        <td><%= attributes.uri %></td>
        <td><%= attributes.share ? 'Yes' : 'No' %></td>
        <td><%= attributes.propagate ? 'Yes' : 'No' %></td>
    </tr>
    <% } %>
    </tbody>
</table>