<form id="put-payload" class="form horizontal">
    <div class="control">
        <label for="i-id">Identifier</label>
        <input type="text" name="id" id="i-id" value="<%= app.identity.id %>" disabled>
    </div>
    <div class="control">
        <label for="i-uri">URI</label>
        <input type="text" name="uri" id="i-uri" value="<%= app.attributes.uri %>">
    </div>
    <div class="control">
        <label for="i-share">Share</label>
        <input type="checkbox" name="share" id="i-share"<%= app.attributes.share ? ' checked' : ''%>>
    </div>
    <div class="control">
        <label for="i-propagate">Propagate</label>
        <input type="checkbox" name="propagate" id="i-propagate"<%= app.attributes.propagate ? ' checked' : ''%>>
    </div>
    <div id="data-generators"></div>
    <div class="control" id="data-definition">
        <label for="i-data-definition">Data</label>
        <textarea name="data" id="i-data-definition"><%= JSON.stringify(app.attributes) %></textarea>
    </div>
    <input type="submit" value="Update Payload" class="button">
</form>

<p><em><a href="#" id="destroy-payload">Delete Payload</a></em></p>